.logInPage__body__form__password,
.logInPage__body__form__login, 
.registrationPage__body__form__name,
.registrationPage__body__form__login,
.registrationPage__body__form__password,
.registrationPage__body__form__city,
.registrationPage__body__form__email,
    .registrationPage__body__form__number,
    .addHousePage__body__form__designName,
    .addHousePage__body__form__price,
    .addHousePage__body__form__description,
    .addHousePage__body__form__car,
    .addHousePage__body__form__bed,
    .addHousePage__body__form__bath,
    .addHousePage__body__form__addres{
    height: 4.625rem;
    color: rgba(45, 124, 131, 0.5);
    // text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    border: 3px solid #2D7C83;
    margin-bottom: 2.06rem;
}


.forgotForm{
    width: 100%;
    height: 4.625rem;
    color: rgba(45, 124, 131, 0.5);
    // text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    border: 3px solid #2D7C83;
    margin-bottom: 2.06rem;
}

// .logInPage__body__form__login {
//     margin-bottom: 33px;
// }

// .logInPage__body__form__password {
//     margin-bottom: 51px;
// }


.input__input::placeholder {
    color: rgba(142, 186, 190, 0.5);
    font-weight: 1000;
    text-align: left;
  }



  @media (max-width: 420px) {
    .addHousePage__body__form__designName,
    .addHousePage__body__form__price,
    .addHousePage__body__form__description,
    .addHousePage__body__form__car,
    .addHousePage__body__form__bed,
    .addHousePage__body__form__bath,
    .addHousePage__body__form__addres{
        width: 90%;
    }
  }