.logInPage__body__form__proply {
    color: #000;
    font-family: Audiowide;
    font-style: normal;
    font-size: 9vh;
    line-height: normal;
}
.forgot-password {
    cursor: pointer;
    color: #2D7C83;
    text-decoration: underline;
    font-size: larger;
}


.logInPage__body__form__welcome {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 1.62rem;
}

.logInPage__body__form__loginAccount {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 1.19rem;
    padding-bottom: 3.75rem;
}

.logInPage__body__form__dont {
    padding-top: 2.06rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logInPage__body__form__dont__sing {
    color: #2D7C83;
}

// .logInPage__body__form{
//     color: #FFF;
//     font-family: Montserrat;
//     padding: 7vh 0 10vh 0;

//     .logInPage__body__form__intra{
//         font-size: 96px;
//     }

//     .logInPage__body__form__create{
//         font-size: 32px;
//         padding-bottom: 5vh;
//     }
// }