select {
    text-align: right;
    font-family: Montserrat;
    font-size: 32px;
    background: transparent;
    border-color: transparent;
}

// select option {
//     color: #FFF;
//     font-family: Montserrat;
//     background-color: black;
// }