*{
    text-align: center;
}

header {
    background: transparent;
    height: 61px;
    position: relative;
    padding-top: 20px;
    // z-index: 2;
    // width: 90%;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-family: Montserrat;
    justify-content: space-between;
    // gap: 100vh;
}
    .header__container__logo{
        float: left;
        padding-left: 5vh;
        color: #000;
        font-family: Audiowide;
        font-style: normal;
        font-size: 4vh;
        line-height: normal;
    }
    // .header__container__logo__text {
    // }

    .header__container__navigation{
        display: flex;
        flex-direction: row;
        font-size: 2vh;
        font-weight: 600;
        gap: 43px;
    }
    .burger_vision{
        display: none;
        gap: 43px;
    }
    @media (max-width: 740px) {
        .header__container__navigation{
            display: none;
        }
      }
      
      @media (max-width: 340px) {
        .header__container__navigation{
            display: none;
        }
      }
