// .informationDesign__body {
//     background: linear-gradient(160deg, #000 14.16%, rgba(0, 0, 0, 0.85) 100%);
// }

.informationHouse__main__container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 0 0 5%;
}

.informationHousemaincontainer__pictures__img{
    width: 600px;
height: 400.668px;
}
.informationHouse__main__container__textBlock {
    width: 528px;
}
.informationHouse__main__container__textBlock__buttons{
    gap:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


h2{
    color: rgb(170, 74, 74);
}
.popup__content{
    position: absolute;
    transform: translate(-50%, -59%);
    background-color: rgb(57, 55, 55);
    padding: 20px;
    border-radius: 5px;
}
.popupToDelete{
    color: azure;
    font-family: Montserrat;
}

@media (max-width: 949px) {
    .informationHousemaincontainer__pictures__img{
        width: 320px;
height: 216px;
    }

    .informationHouse__main__container {
      flex-direction: column;
      padding: 0;
    }
    .informationHouse__main__container__textBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
  }
