.estateCard {
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    text-align: left;

    .estateCard__textBlock {
        display: flex;
        flex-direction: column;

        .estateCard__textBlock__price {
            color: #2D7C83;
            font-size: 32px;
            font-weight: bolder;
            text-align: left;
            padding: 11px 0;
        }

        .estateCard__textBlock__contaiber {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-bottom: 10px;

            .estateCard__textBlock__contaiber__nameEstate {
                font-size: 24px;
            }

            .estateCard__textBlock__contaiber__parkingCount,
            .estateCard__textBlock__contaiber__bathroomCount {
                display: flex;
                flex-direction: row;
                color: #2D7C83;
            }
        }

        .estateCard__textBlock__adress{
            font-size: 10px;
            text-align: left;
        }

    }
}