.community__main__cardThird {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
     padding: 10rem 3rem 0 3rem;
}

.mainpage__main__container__fisrt{
    background-image: 'url(../../image/consultImg.png)';
}