.styleButtonAboutUs {
    max-width: 24.75rem;
    height: 4.375rem;
    border: none;
    border-radius: 1.25rem;
    background: rgba(217, 217, 217, 0.40);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 1.44rem;
}

.logInPage__body__form__button,
.registrationPage__body__form__button,
.informationHouse__button,
.addHousePage__body__form__button {
    background: #2D7C83;
    width: 16.125rem;
    height: 4.625rem;
    color: rgba(255, 255, 255, 0.99);
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    border: none;
}


.forgotButton{
    background: #2D7C83;
    width: 100%;
    height: 4.625rem;
    color: rgba(255, 255, 255, 0.99);
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    border: none;
}

.informationHouse__button__delete{
    background-color: transparent;
    color: rgba(138, 0, 0, 0.99);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    border: 2px solid rgb(167, 0, 0);
    width: auto;
    height: 74px;
}

.profilePage__main__container__buttonInformation,
.logOutButton{
    background: #2D7C83;
    width: auto;
    height: auto;
    color: rgba(255, 255, 255, 0.99);
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    margin-bottom: 1%;
}

.logOutButton{
color: rgb(36, 26, 26);
}