.footer{
    display: flex;
    // padding-top: 10vh;
    align-items: center;
    gap: 30px;
    // justify-content: center;
    flex-direction: column;
    padding: 4vh 0;
    background-color: #111;
    margin-top: 100px;
    
}

.footer__box{
    gap: 30px;
    display: flex;
    flex-direction: row;
}