.mainpage__main__container__fisrt__img {
    width: 1200px;
    height: 600px;
}

.mainpage__main__container__fisrt__picture{
    display: flex;
    justify-content: center;
    margin: 35px 46px px 0;
}

.mainpage__main__container__cardFourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {

    .mainpage__main__container__fisrt__img {
        width: 695px;
        height: 416px;
    }
  }


  @media (max-width: 700px) {

    .mainpage__main__container__fisrt__img {
        width: 300px;
        height: 147px;
    }
  }